<!-- this is index.html -->
<!DOCTYPE html>
<html>
  <head>
    <title>chatGPTeacher</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  </head>
  <body>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
      </ul>
    </nav>

    <h1>chatGPTeacher</h1>
    <form action="/" method="POST" enctype="multipart/form-data">
      <label for="pdf_input">Upload a PDF file:</label><br>
      <input type="file" id="pdf_input" name="pdf_input"><br>
      <input type="submit" value="Submit">
    </form>
    <footer>
      <p>&copy; 2023 NLP Smart Application</p>
    </footer>
  </body>
</html>

