<!-- this is index.html -->
{% extends "base.html" %}

{% block content %}

  <form class="home_page_form" action="/" method="POST" enctype="multipart/form-data">
    <h2 class="h2-welcome">Master Through Practice</h2> 

    <section>
      <h4>Welcome to LearnMore</h4>
      <p>Enhance your learning experience with our powerful platform that allows you to effortlessly generate practice questions and 
        quizzes based on your uploaded content. Whether you're a student seeking to reinforce your knowledge or a teacher 
        looking to create engaging assessments, we're here to help you achieve your academic goals!</p>
    </section>
    
    <!-- <section>
      <h4>Our solution</h4>
      <p>With chatGPTeacher, you can upload your course materials, like lecture slides, 
        and create a quiz that tests your knowledge of the material. 
        Our platform provides real-time feedback on your performance, 
        allowing you to identify areas where you may need further study. 
        By using our website to create quizzes, you'll improve your understanding of 
        course material and achieve better grades.</p>
    </section> -->

    <section>
      <h4>Get started</h4>
      <p>Ready to get started? Upload your PDF file, click "Create Quiz" and start generating a customized quiz.</p>
      <!-- <textarea class="text-field" id="text_input" name="text_input" placeholder="Add sample questions here if available"></textarea><br> -->
      <input class="input-field" type="file" id="pdf_input" name="pdf_input"><br>
      <input type="submit" value="Create Quiz">
    </section>

  </form>  

{% endblock %}