* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --main_background: #262829;
  --second_background: #262829;
  --extra_background: #343839;

  --textfield_background: #262829;
  --textfield_border: #4d5355;

  --test: red;
  --main_letter_color: #dcd7ce;
  --second_letter_color: #fdfbf8;
  --second_letter_color_hover: #d5cfc7;

  --accent: #4CAF50;
  --accent_hover: #45a049;
}

.text-field {
  width: 100%;
  height: 150px;
  font-size: 16px;
  padding: 10px;
  margin-top: 20px;
  border: 1px solid var(--textfield_border);
  background-color: var(--textfield_background);

}

body {
  font-family: sans-serif;
  background-color: var(--main_background);
}


div.everything {
  width: 60%;
  margin-left: 20%;

  background-color: var(--main_background);
  color: var(--main_letter_color);
  
  min-height: 100vh;

}

div.content {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  
}

#header-icon {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80px; /* Change this value to adjust the size of your icon */
  height: auto;
  margin-top: 30px;
}

h1 {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  /* font-family: Lato; */
  /* color: var(--main_color); */
}

h2 {
  padding-left: 80px;
  padding-top:  20px;
}

h2 {
  font-size: 24;
  /* centre */
  text-align: center;
}

h4 {
  margin-top: 10px;
}


main {
  /* max-width: 800px;
  margin: 0 auto;
  padding: 20px; */
}

nav {
  background-color: var(--extra_background);
  /* var(--main_color); */
  color: var(--second_letter_color);
  display: flex;
  font-size: 17px;
  justify-content: center;  /* center the ul within the nav */
  padding: 10px;
  /* width: 60%;  /* set nav width to 50% of the page */
  /* margin-left: 20%;  start nav at 25% of the page */

  border-top-left-radius : 5px;
  border-top-right-radius : 5px;

}

nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;  /* set ul width to 100% of the nav */
  justify-content: space-between;  /* space li evenly within the ul */
}

nav li {
  flex: 1;  /* distribute space evenly amongst li within the ul */
  text-align: center;  /* center text within each li */
  margin: 0 10px;
}

nav a {
  color: var(--second_letter_color);
  text-decoration: none;
}

/* edit the hovering */
nav a:hover {
  color: var(--second_letter_color_hover);
  text-decoration: none;
}

label {
  font-size: 13px;
  /* cursor: pointer; */
}

form {
  box-sizing: border-box;  /* new property */
  background-color: var(--second_background);
  color: var(--main_letter_color); /* same text color as nav */
}  

form.home_page_form {
  padding-left: 60px;
  padding-right: 80px;
  padding-top: 20px;
  padding-bottom: 20px;
}

form.exam-form{
  padding-left: 80px;
  padding-right: 75px;
  padding-top: 20px;
  padding-bottom: 20px;
}

input[type="file"] {
  margin: 0px 0 5px 0;
  cursor: pointer;
}


/* this is for the questions page */
button.submit-button { 
  background-color: var(--accent);
  color: var(--second_letter_color);
  padding: 10px 20px;
  margin: 10px 0;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}
button.submit-button:hover {
  background-color: var(--accent_hover);
}

/* this is for the home page */
input[type="submit"] {
  background-color: var(--accent);
  color: var(--second_letter_color);
  padding: 10px 20px;
  margin: 10px 0;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}
input[type="submit"]:hover {
  background-color: var(--accent_hover);
} 

div.question{
  margin-top: 12px;
}

div.option {
  margin-top: 2px;
}

textarea {
  width: 100%;
  margin-bottom: 20px;
  padding: 10px;
  border: 2px solid var(--second_background);
  border-radius: 5px;
  resize: vertical;
}
   
.input-label {
  margin-bottom: 10px;
  font-size: 16px;
}

div.answer-section {
  display: none;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

score-section {
  display: none;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;

}

div.score-section {
  font-size: 20px;
  text-align: center;
  
}

footer {
  /* background-color: var(--main_color); */
  background-color: var(--extra_background);
  color: var(--second_letter_color);
  padding: 10px;
  text-align: center;
  font-size: 12px;
  padding-top: 10px;
  padding-bottom: 10px;
  /* width: 60%;  set nav width to 50% of the page */
  /*margin-left: 20%;  /* start nav at 25% of the page */

  border-bottom-left-radius : 5px;
  border-bottom-right-radius : 5px;

}